{% load staticfiles %}
    <div style="margin-top: -40px;">
        <div class="row">
            <div class="col-md-12 hidden-sm hidden-xs">
                <h1 class="home-title" style=" display: none; color: white;  position: absolute; top: 20%; left: 10%; font-size: 6em;"><strong><span style="color: #420E09;">r</span><small style="color: white;">onin</small><span style="color: #420E09;">D</span><small style="color: white;">usette</small></strong></h1>
                <h2 class="home-subtitle" style="display: none; color: white; position: absolute; bottom: 18%; right: 16%; opacity: .4;"><span style="color: #420E09;">.</span>Standing<span style="color: #420E09;">.</span>On<span style="color: #420E09;">.</span>The<span style="color: #420E09;">.</span>Shoulders<span style="color: #420E09;">.</span>Of<span style="color: #420E09;">.</span>Giants<span style="color: #420E09;">.</span></h2>
                <img src="{% static 'frontend/img/home/Blog-Banner.png' %}" class="img-responsive" id="grad" alt="">
            </div>
            <div class="col-sm-12 hidden-md hidden-lg text-center">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 style="color: white"><strong><span style="color: #420E09;">r</span><small style="color: white;">onin</small><span style="color: #420E09;">D</span><small style="color: white;">usette</small></strong></h1>
                <h2 style="color: white; opacity: .4;"><span style="color: #420E09;">.</span>Standing<span style="color: #420E09;">.</span>On<span style="color: #420E09;">.</span>The<span style="color: #420E09;">.</span>Shoulders<span style="color: #420E09;">.</span>Of<span style="color: #420E09;">.</span>Giants<span style="color: #420E09;">.</span></h2>
                <img src="{% static 'frontend/img/home/Blog-Banner.png' %}" class="img-responsive" id="grad" alt="">
            </div>
        </div>
    </div>