{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% include 'frontend/base_head.html' %}
    </head>
    <body>
        {% include 'frontend/base_nav.html' %}

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{% static 'frontend/img/logo-plain.png' %}" alt="Ronin Dusette's logo" class="center-block" style="max-width: 100px;">
                <h1><strong>Ronin Dusette</strong></h1>
                <h4><em>Insights and Ramblings</em></h4>
            </div>
        </div>
        <div class="container">
                            <hr>
                    <div class="dropdown">
                        <h4 class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span>CATEGORIES</span>
                            <span class="caret"></span>
                        </h4>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                        </ul>
                    </div>
                    <hr>
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock content %}
                </div>
                <div class="col-md-4">
                    {% include 'frontend/base_aside.html' %}
                </div>
            </div>
        </div>

        {% include 'frontend/base_js.html' %}
        <br>
        {% include 'frontend/base_footer.html' %}
    </body>
</html>
