{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block title %}blog{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                content
            </div>
            <div class="col-md-4">
                <h4><strong>ABOUT ME</strong></h4>
                <hr>
                <img class="img-circle center-block" style="max-width: 300px;" src="{% static 'frontend/img/Ronin-Dusette-Profile-Pic.jpg' %}">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <h4><strong>FOLLOW ME</strong><span class="addthis_inline_follow_toolbox_498g pull-right" style="margin-top: -20px;"></span></h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4><strong>RECENT INSTAGRAM POSTS</strong></h4>
                        <hr>
                        <iframe src="//lightwidget.com/widgets/52d380a32bed5334b563dae214317c10.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4><strong>RECENT POSTS</strong></h4>
                        <hr>
                        <a href="#"><img src="{% static 'frontend/img/home/The-Wall_by-Ronin-Dusette.jpg' %}" style="max-width: 100%" alt="" class="img-clickable"></a>
                        <h4 class="text-center"><a href="#">Some Post Title Here</a></h4>
                        <h5 class="text-center"><em>2017/5/1</em></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}