{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ category_name }}</h2>
        </div>
    </div>
    <br>
{% for article in article_list reversed %}
         <a href="{% url 'article-detail' slug=article.slug %}" class="img-post-img">
        <div class="row article-section">
            <div class="col-md-6">
                <img class="img-clickable" src="/media/{{ article.photo }}" style="width: 100%" alt="{{ article.title }}">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'category-detail' slug=article.category.slug %}">{{ article.category.name }}</a> | {{ article.date_added }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3><strong>{{ article.title }}</strong></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ article.subtitle }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{% autoescape off %}{{ article.body|truncatechars:140 }}{% endautoescape %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'article-detail' slug=article.slug %}">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        </a>
    {% endfor %}
{% endblock content %}